<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="context" value="adonet"/>
    <!--<add key="context" value="list"/>-->
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsersAndRewards;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>